#HTML99{background:url(https://lh4.googleusercontent.com/_U0QaeycS3vw/TXshjmCu1PI/AAAAAAAAAVw/VeqXx2TMUVs/s1600/shadow_900.png) no-repeat 50% bottom;padding:0 0 32px;z-index:1 !important}
#banner{position:relative}
#banner ul >li{display:none}
.creative_layer a{color:#fff}

.caption_transparent{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color: rgba(0,0,0,0.5);
	padding:5px;
	position:absolute;
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

.caption_black{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#000;
	padding:5px;
	position:absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.caption_blue{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#00b4ff;
	padding:5px;
	position:absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.caption_green{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#445626;
	padding:5px;
	position:absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.caption_orange{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#e65700;
	padding:5px;
	position:absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.caption_red{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#c4302b;
	padding:5px;
	position:absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.caption_white{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#000;
	background-color:#fff;
	padding:5px;
	position:absolute;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	font-weight: 700;
}

.caption_white a:link, .caption_white a:visited {text-decoration: none;color: #000}
.caption_white a:hover {text-decoration: none;cursor: pointer;color: #555}

.caption_grey{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#333;
	padding:5px;
	position:absolute;
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.75);
	padding-left: 10px;
	padding-right: 10px;
}


a:focus {outline:none}
.minicap{font-size:14px;font-weight: normal}
.smallcap{font-size:18px;font-weight: normal}
.largecap{font-size:32px}
.imagecap{position:absolute}
.nobg{background:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;text-shadow:#000 5px 5px 5px}
#small_divider {margin-top:8px}
#big_divider {margin-top:150px}


.dark .kenburn-bg{
	background:url(https://lh5.googleusercontent.com/-6EICugA6gAE/T0BoZM6gFKI/AAAAAAAACeE/6w-avGhoHmU/s100/black50.png) repeat;	
	padding:9px;
	border:1px solid rgba(70,70,70,0.3);
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

.kenburn-preloader{
	background:url(https://lh3.googleusercontent.com/-uH4FOQxLOA8/T0BobdXxSrI/AAAAAAAACe0/7jlE5wgEDUU/s32/preloader.gif) no-repeat 50% 50%;
	width:32px;
	height:32px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:9999;
	background-color: #000;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	padding: 10px;
	margin-left: -14px;
}

.kenburn-video-overlay{
	background-color:#000;
	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width:100%;
	height:100%;
	position:relative;
	z-index:1000;
}

.kenburn-video-button{
	background:url(https://lh5.googleusercontent.com/-ZU0gynCICbM/T0Boc-oFJxI/AAAAAAAACfE/hLu39IE0KmY/s100/play.png) no-repeat;
	width:100px;
	height:100px;
	position:absolute;
	z-index:1500;
	opacity:0.85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	cursor:pointer;

	
}

.kenburn-video-button:hover {opacity:1.0;}

.video_kenburn{
		position:absolute;
		top: 0; bottom: 0px;
		width: 100%;
		background: #eee;
		font-family: Arial, sans-serif;
		font-size:12px;
		line-height: 20px;
		color: #777;
		text-shadow: #fff 1px 1px 1px;
	}

.video_kenburn_wrap{padding-right:20px}
.video_kenburn .video_clip{float: left;padding-right: 20px}
.video_kenburn h2{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #999;
	text-shadow: #fff 1px 1px 1px;
	padding-top: 45px;
	margin: 0;
}
.buttonlight {
 float: right;
 height: 30px;
 line-height: 30px;
 font-size: 12px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.buttonlight:link, .buttonlight:visited {
 color: #777;
 padding: 0 20px 0 20px;
 text-align: center;
 text-shadow: 1px 1px 0px #fff;
 background: #999 url(https://lh4.googleusercontent.com/-iwxGgsYmPkU/T0BoZsoxwbI/AAAAAAAACeI/aeVChBDHhb8/s34/btn_light.png) repeat-x center top;
 border: 1px solid #cdcdcd;
 text-decoration: none;
 font-weight: bold;
}

.buttonlight:hover,.comment-reply-link:hover {
 color: #fff;
 text-shadow: 1px 1px 0px #000;
 background: #333;
 border: 1px solid #555555;
 text-decoration: none;
}

.video_kenburn .close{
	width:30px;
	height:30px;
	position:absolute;
	background:url(https://lh6.googleusercontent.com/-gbOiXwFwLGY/T0BoaBAhJQI/AAAAAAAACeU/zsAA0bcO2Ig/s60/close.png) no-repeat top;	
	right:10px;
	top:10px;
	cursor:pointer;
}

.video_kenburn .close:hover{
	background-position:bottom;
	opacity:0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	cursor:pointer;
}

.thumbbuttons{
	background:url(https://lh5.googleusercontent.com/-as9foqU8VF8/T0Boa4PtWTI/AAAAAAAACeg/XstXME3bf9c/s35/navigdots_bgtile.png);
	height:35px;	
	 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:absolute;
	bottom:-33px;
	z-index:1000;	
}

.thumbbuttons .grainme{
	background:url(https://lh6.googleusercontent.com/-6XlaI3TPTSA/T0BoaWmIk4I/AAAAAAAACeY/Zz6omKq_8HM/s100/grain.png);
	height:35px;
	width:100%;
}


.thumbbuttons .leftarrow{
	background:url(https://lh6.googleusercontent.com/-4rlukc1LmhQ/T0BoZGo12XI/AAAAAAAACeA/QVYZyIBIHsk/s32/arrowleft.png) no-Repeat bottom left;
	width:9px;
	height:16px;
	margin-left:9px;	
	margin-right:9px;
	margin-top:9px;
	float:left;
	cursor:pointer;
}


.thumbbuttons .rightarrow{
	background:url(https://lh4.googleusercontent.com/-h1cPBJ4yNYo/T0BoZOlz7jI/AAAAAAAACeM/lDTayVjYUPE/s32/arrowright.png) no-Repeat bottom left;
	width:9px;
	height:16px;
	margin-top:9px;	
	margin-right:9px;
	margin-left:18px;
	float:left;
	cursor:pointer;
}


.thumbbuttons .minithumb{
	background:url(https://lh4.googleusercontent.com/-tQRqdmq9b20/T0BoaZXyMII/AAAAAAAACeo/IvizL47zo9A/s30/navigdots.png) no-Repeat bottom left;
	width:15px;
	height:15px;
	margin-top:9px;	
	margin-left:9px;	
	float:left;
	cursor:pointer;
}

.thumbbuttons .thumbs{float:left}
.thumbbuttons .rightarrow:hover, .thumbbuttons .leftarrow:hover, .thumbbuttons .minithumb:hover, .thumbbuttons .thumbs .selected{background-position:top left;}