.navbar,.feed-links{display:none}
body,h1,h2,h3,h4,h5,p,ul,li,a,img{margin:0;padding:0;list-style:none;text-decoration:none;outline:none;vertical-align:baseline}
a{color:#39a5eb}
a:hover{color:#666}
a img{border:none}
h1,h2,h3,h4,h5{font-family:'Yanone Kaffeesatz','Arial Narrow','Lucida Grande','Lucida Sans Unicode',sans-serif;font-weight:normal;text-transform:uppercase}
h1{font-size:40px;line-height:40px}
h2,h4{font-size:22px;font-weight:600}
h3{font-size:50px;line-height:40px}
body{margin:0;color:#222;font-family:Helvetica,Arial,sans-serif;font-size:12px;background:#e9e9e9 url(images/site_bg.jpg) repeat-x;line-height:22px}
.wrap{background:url(images/wrap_bg.jpg) no-repeat 50% top}
#top_nav{height:30px;line-height:30px}
#PageList1 li.selected a{color:#39a5eb;font-weight:normal}
#PageList1 li a{text-transform:uppercase;font-size:11px;float:right;display:block;padding:0 15px;color:#fff}
#PageList1 li a:hover{color:#39a5eb}
#header-wrapper{height:131px}
#header{width:600px;margin:0 auto;text-align:center}
#header h3{padding:30px 0 10px 0;color:#fff;letter-spacing:2px;text-shadow:3px 3px 1px #690028}
#header a{color:#fff}
#header img{margin:0 auto;max-width:600px;max-height:131px}
p.description{font-family:'Yanone Kaffeesatz';font-weight:bold;font-size:22px;color:#74002c;text-transform:uppercase;text-shadow:0 1px 0 #a52c5a;letter-spacing:1px}
#search_engine{display:block;position:absolute;top:175px;margin-left:770px;width:175px;height:40px;background:url(images/search_field.png) no-repeat left top;padding:0}
#search_engine .field{float:left;display:inline;height:40px;width:135px}
#search_engine .field input{color:#ccc;border:0;background:transparent;font-size:11px;margin:3px 0 0 10px;padding:4px;width:110px}
#search_engine .button{float:left;display:inline;height:40px;width:39px;cursor:pointer;border:0;background:url(images/search_button.png) no-repeat 0 0}
#signin_panel{background:#171717 url(images/lock.png) no-repeat 30px 10px;border:1px solid #FFF;border-width:0 0 1px 0;display:none;padding:30px 0}
#signin_panel .instructions{float:left;display:block;width:360px}
#signin_panel .instructions p{color:#FFF}
#signin_panel form{float:left;display:block;margin:0 0 0 200px;width:400px}
#signin_panel .field{float:left;display:block;width:140px;margin:0 0 0 20px}
#signin_panel label{color:#FFF;font-size:16px;clear:both;width:120px;text-align:right}
#signin_panel .field input{color:#FFF;border:1px solid #444;background:#222;font-size:12px;padding:6px 8px;width:128px}
#signin_panel .submitter{float:left;display:block;width:30px;margin:0 0 0 10px}
#signin_panel .submitter input{border:none;background:url(images/icon_readmore.png) no-repeat right 50%;margin:23px 0 0 0;width:30px;height:30px;cursor:pointer}
#navigation{background:url(images/navigation_bg.png);display:block;height:63px;z-index:8000 !important}
#navigation li{background:url(images/menu_separator.png) no-repeat right top;display:block;float:left;line-height:15px;width:150px;height:63px;position:relative;z-index:8000 !important}
#navigation li a{font-size:13px;color:#ccc;display:block;padding:15px 0 0 20px;text-transform:uppercase}
#navigation li a:hover{color:#39a5eb}
#navigation li a:hover span{color:#fff}
#navigation li a span{color:#6c6c6c;clear:both;display:block;font-size:11px;text-transform:lowercase}
#navigation .sub_menu{display:none;background:#000;position:absolute;top:62px;left:0;z-index:9000 !important;padding:0 15px 15px 15px}
#navigation .sub_menu li{clear:both;background:none;height:auto}
#navigation .sub_menu li a{display:block;margin:0;padding:5px;border-bottom:1px dotted #252525;text-transform:lowercase}
#outer-wrapper{margin:0 auto;width:960px}
.content{padding:30px;background:#fff url(images/gradient.png) repeat-x left top}
#home_slider{margin:0 0 10px 0}
#main-wrapper{float:left;width:600px}
.post{background:#fff url(images/shadow_600.png) no-repeat 50% bottom;display:block;margin:0 0 20px 0;padding:0 0 12px 0}
.post .inside{background:#fff url(images/sidebar_bg.png) repeat-x left 1px;border:1px solid #e9e9e9;border-width:1px 1px 0 1px;padding:29px;width:540px}
.post h1{border-bottom:9px solid #222;padding:0 0 3px}
.post h1 a{color:#222}
.post-body{text-align:justify}
.thumb{float:left;margin:0 20px 0 0;width:180px;height:180px}
.post img{max-width:600px}
.post blockquote{color:#666;border:1px dotted #b8b8b8;border-width:1px 0 0 0;border-bottom:9px solid #323232;overflow:hidden;background:url(images/sidebar_bg.png) repeat-x left 1px;margin:0;padding:6px 16px 8px;font:italic 14px/24px Georgia,"Times New Roman",Times,serif}
.post-timestamp,.jump-link{font-family:'Yanone Kaffeesatz';display:block;font-size:24px;text-transform:uppercase}
.jump-link{float:right;margin-left:30px}
a.jump-link{color:#fff}
.post-comment-link{display:block;float:right;padding:0 0 0 28px;background:url(images/icon_comments.png) no-repeat left 50%}
.post-comment-link a{color:#fff}
.post-footer{background:#222;color:#FFF;height:50px;line-height:50px;padding:0 20px 0 30px}
#sidebar-wrapper{float:right;width:270px;margin:0 0 30px 0;background:#FFF url(images/shadow_sidebar.png) no-repeat 50% bottom;padding:0 0 13px 0}
#sidebar-wrapper .inside{background:url(images/sidebar_bg.png) repeat-x left 1px;border:1px solid #e9e9e9;border-width:1px 1px 0 1px;padding:19px 19px 0 19px}
#sidebar-wrapper .widget{padding-bottom:20px}
#sidebar-wrapper h2{color:#222;margin-bottom:5px;border-top:5px solid #e9e9e9;border-bottom:9px solid #222;padding:18px 0 4px 0}
#sidebar-wrapper li{padding:3px 6px;border-bottom:1px dotted #D8D8D8}
#sidebar-wrapper li a{color:#666}
#sidebar-wrapper li a:hover{color:#39a5eb}
#social_counters{display:block;margin-bottom:10px;float:left}
#social_counters .twitter_count{background:url(images/twitter_32.png) no-repeat left 50%;display:block;float:left;width:74px;height:32px;padding:0 0 0 40px}
#social_counters .rss_count{background:url(images/rss_32.png) no-repeat left 50%;display:block;float:left;width:74px;height:32px;padding:0 0 0 40px}
#social_counters .number{display:block;clear:both;color:#222;font-size:18px;height:16px;padding:0;margin:0}
#footer{font-size:11px;background:url(images/footer_bg.jpg) repeat-x}
.footer-wrap{width:960px;height:340px;margin:0 auto;padding:49px 0 0 0;background:url(images/footer_content.jpg) repeat-x left top}
#footer-nav{display:block;float:left;height:60px;line-height:60px;padding:0 0 0 30px;width:435px}
#footer-nav li{display:inline}
#footer-nav li a{color:#ccc;font-size:11px;margin:0 15px 0 0}
#footer-nav li a:hover{color:#39a5eb}
.go-top{display:block;float:left;width:30px;height:60px;line-height:60px}
.go-top a{background:url(images/gotop.png) no-repeat 50% 50%;display:block;width:30px;height:60px}
.copyright{color:#ccc;display:block;float:right;width:435px;height:60px;padding:0 30px 0 0;line-height:60px;text-align:right}
.copyright a{color:#39a5eb}
#leftcolumn{width:235px;display:block;float:left}
#middlecolumn{width:410px;height:230px;display:block;float:left;margin:0;padding:18px 0 0 0}
#rightcolumn{width:235px;display:block;float:right}
.column{padding:30px 20px 0 20px}
.column h2{color:#fff}
.column li a{color:#ccc;display:block;background:url(images/footer_li_underline.png) repeat-x left bottom;padding:4px 0 6px 4px}
.column li a:hover{color:#39a5eb}
.comments h4{padding-bottom:5px;margin-bottom:10px;border-bottom:9px solid #222}
.comments-block .comments-post{background:url(images/shadow_600.png) no-repeat 50% bottom;height:100%;margin:0 0 20px 0;padding:0 0 12px 0}
.comments-block .inside{background:#fff url(images/sidebar_bg.png) repeat-x left 1px;border:1px solid #e9e9e9;border-width:1px 1px 0 1px;padding:20px 29px;width:540px}
.comments-meta{background:#222;font-family:'Yanone Kaffeesatz';font-size:24px;color:#fff;text-transform:uppercase;height:46px;line-height:46px;padding:0 20px 0 20px}
.comments-meta a{color:#fff}
.comments-author{float:left;display:block}
.comments-timestamp{float:right;display:block}
.comments-avatar{float:left;display:block}
.comments-body{width:424px;float:right}
.deleted-comment{text-decoration:line-through}
.comment-form{background:#fff url(images/shadow_600.png) no-repeat 50% bottom;display:block;margin:0;padding:0 0 12px 0;min-width:600px}
.comment-form .inside{background:#fff url(images/sidebar_bg.png) repeat-x left 1px;border:1px solid #e9e9e9;padding:30px 0 0 0;width:598px}
#comment-editor{width:545px;margin-left:35px}
.avatar-image-container{border:1px solid #b8b8b8;height:80px;width:80px;padding:7px;background:#fff}
.avatar-image-container img{background:url(images/anonymous.png) no-repeat;width:80px;height:80px}
#paginator{background:url(images/shadow_600.png) no-repeat 50% bottom;display:block;height:50px;line-height:50px;padding:0 0 12px 0}
.pagenavi{clear:both;text-align:center;background:#222;font-family:'Yanone Kaffeesatz';font-size:24px;text-transform:uppercase;padding:0 30px}
.pagenavi span,.pagenavi a{color:#fff;margin:0 5px}
.pagenavi a.first{float:left}
.pagenavi a.end{float:right}
.pagenavi a:hover,.pagenavi .current{color:#39a5eb}
.pagenavi .pages{display:none}
#blog-pager-newer-link{float:left}
#blog-pager-older-link{float:right}
#blog-pager{text-align:center}
.sharing{background:url(images/sharing_network.png);display:block;height:81px;margin:40px auto 0 auto;position:relative;width:102px}
.sharing ul.share_left{height:30px;margin:0 auto;position:absolute;right:95px;top:30%;width:250px;z-index:80}
.sharing ul.share_right{height:30px;left:98px;margin:0 auto;position:absolute;top:30%;width:250px;z-index:80}
.sharing ul li{display:block;float:right;font-size:13px;height:30px;line-height:30px;margin:0 5px;width:40px}
.sharing ul li a span{display:block;left:0;position:absolute;text-align:center;top:31px;width:250px}
#PopularPosts1 dd{float:left;border-bottom:none;margin:8px 8px 0 8px;background:none;display:block;padding:0}
#PopularPosts1 img{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;padding:4px;background: #eee;background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.5, #ddd), color-stop(0.5, #c0c0c0), to(#aaa));background: -moz-linear-gradient(top, #eee, #ddd 50%, #c0c0c0 50%, #aaa);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,.7);-moz-box-shadow: 0 0 3px rgba(0,0,0,.7);box-shadow: 0 0 3px rgba(0,0,0,.7);}
#PopularPosts1 img:hover{-moz-transform: scale(1.2) rotate(-350deg);-webkit-transform: scale(1.2) rotate(-350deg);-o-transform: scale(1.2) rotate(-350deg);-ms-transform: scale(1.2) rotate(-350deg);transform: scale(1.2) rotate(-350deg);-webkit-box-shadow: 0 0 20px rgba(255,0,0,.4), inset 0 0 20px rgba(255,255,255,1);-moz-box-shadow: 0 0 20px rgba(255,0,0,.4), inset 0 0 20px rgba(255,255,255,1);box-shadow: 0 0 20px rgba(255,0,0,.4), inset 0 0 20px rgba(255,255,255,1)}
#recent-posts img,#random-posts img{float:left;padding:7px 10px 5px 0;width:40px;height:40px}
#related-posts h2{ margin:30px 0 20px }
#related-posts ul{width:100%}
#related-posts ul li{position:relative;float:left;margin-left:37px;width:76px}
#related-posts ul li:hover{z-index:98}
#related-posts ul li:hover div{position:absolute;top:85px;left:-10px;margin-left:0;width:250px}
#related-posts ul li div{position:absolute;z-index:99;margin-left:-999em}
#related-posts ul li .title{border:1px solid #e9e9e9;box-shadow:0 0 1px #e9e9e9;background:#fff;padding:5px 10px;}
#related-posts ul li .arrow{border-bottom:8px solid #d8d8d8;border-left:8px solid transparent;border-right:8px solid transparent;height:0;left:40px;position:absolute;top:-8px;width:0}
#related-posts ul li img{background:#eaeaea;background:-moz-linear-gradient(top,#fff 0%,#eaeaea 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eaeaea));background:-webkit-linear-gradient(top,#fff 0%,#eaeaea 100%);background:-o-linear-gradient(top,#fff 0%,#eaeaea 100%);background:-ms-linear-gradient(top,#fff 0%,#eaeaea 100%);-pie-background:linear-gradient(#fff,#eaeaea);background:linear-gradient(top,#fff 0%,#eaeaea 100%) text-decoration:none;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-shadow:inset 0 1px 4px #FFF,0 0 7px #BABABA;-o-box-shadow:inset 0 1px 4px #FFF,0 0 7px #BABABA;-webkit-box-shadow:inset 0 1px 4px #FFF,0 0 7px #BABABA;-moz-box-shadow:inset 0 1px 4px #FFF,0 0 7px #BABABA}
.blackout{display:none;position:fixed;_position:absolute;width:100%;z-index:10000;background-color:#000;margin:0;padding:0;left:0;top:0}
.socialmodalOuter{display:none;font-family:arial;color:#575E6D;font-size:14px;line-height:20px;background:rgb(73,73,73); background:rgba(0,0,0,0.6);border-radius:10px;left:50%;padding:7px;position:fixed;_position:absolute;top:50%;z-index:10001}
.socialmodal{background:none repeat scroll 0 0 #FFF;border-radius:3px;width:460px}
.socialmodal .title{border-bottom:1px solid #E5E8EF;font-weight:bold;font-size:19px;font-weight:bold;padding:16px 15px 10px;text-align:center}
.socialmodal .subtitle{margin:0;background:#f7c632;color:#b18b18;padding:4px;text-align:center;font-weight:bold;font-size:15px}
.socialmodal .warning{margin:0;background:#cb2026;color:#fff;padding:4px;text-align:center}
.socialmodal .content{padding:0 15px;margin-top:10px;line-height:17px}
.socialmodal .share{padding:0 15px;margin:20px 0 15px;text-align:center;height:24px}
.socialmodal .close{background:url(images/close.png) no-repeat;cursor:pointer;height:12px;position:absolute;right:15px;top:15px;width:12px;display:none}
.socialmodal .button{float:left;width:115px;line-height:24px;height:24px}
.socialmodal .like{margin-left:15px}
.socialmodal .twttr{margin-left:30px}
.socialmodal .plus{width:90px;margin-left:50px}
.socialmodal .footer{clear:both;background:none repeat scroll 0 0 #E8EAEF;border-radius:0 0 3px 3px;border-top:1px solid #DDE0E8;padding:10px 0;color:#878D9C;text-shadow:0 1px 0 #FFF;text-align:center;font-size:13px}
.peKenBurns{position:relative;overflow:hidden;width:900px;height:400px;}
.peKenBurns>div{display:none;}
.peKenBurns>div.peKb_active{overflow:hidden;width:inherit;height:inherit;display:block;}
.peKenBurns>div>span{display:none;}
.peKenBurns>div.peKb_active>span{display:block;}
.peKenBurns a:focus{outline:0;}
.peKenBurns img{border:none;}
.peKenBurns .peKb_noBack{background:none!important;}
.peKenBurns ul,.peKenBurns li{margin:0;padding:0;border:0;outline:0;}
.peKenBurns .peKb_slides{display:block;position:relative;overflow:hidden;padding:15px;}
.peKenBurns .peKb_slides>div{position:absolute;overflow:hidden;display:none;z-index:1;}
.peKenBurns .peKb_slides div.peKb_active{z-index:2;display:block;}
.peKenBurns .peKb_slides .peKb_caption{display:inline;position:absolute;left:0;top:0;z-index:1000;margin:0 5px 10px 5px;}
.peKenBurns .peKb_slides .peKb_caption .peKb_holder{position:absolute;}
.peKenBurns .peKb_slides .peKb_caption .peKb_real{padding:30px;overflow:hidden;position:absolute;z-index:10;}
.peKenBurns .peKb_slides .peKb_caption .peKb_real span{margin:0;white-space:nowrap;}
.peKenBurns .peKb_slides .peKb_caption .peKb_background{display:block;position:absolute;z-index:9;}
.peKenBurns .peKb_slides .peKb_frame{z-index:0;width:100%;height:100%;display:block;}
.peKenBurns .peKb_slides .peKb_spinner{z-index:1001;width:100%;height:100%;display:block;}
.peKenBurns .peKb_slides .peKb_videooverlay{z-index:1002;width:100%;height:100%;cursor:pointer;display:block;}
.peKenBurns .peKb_controls{display:block;position:relative;height:50px;overflow:hidden;margin-top:-16px;}
.peKenBurns .peKb_controls .peKb_holder{height:50px;position:relative;overflow:hidden;margin-top:-6px;}
.peKenBurns .peKb_controls .peKb_mainPanel{position:relative;overflow:hidden;height:50px;float:left;}
.peKenBurns .peKb_controls .peKb_slideBtns{margin-top:15px;margin-bottom:15px;padding-left:15px;padding-right:15px;list-style-type:none;text-align:center;height:23px;float:left;position:relative;}
.peKenBurns .peKb_controls .peKb_slideBtns li{float:left;display:block;margin:0;height:23px;text-indent:-9999px;}
.peKenBurns .peKb_controls .peKb_slideBtns li a{display:block;width:22px;height:23px;line-height:23px;margin:0;overflow:hidden;outline:0;}
.peKenBurns .peKb_controls .peKb_arrows{float:left;margin-top:15px;margin-bottom:15px;padding-left:8px;padding-right:8px;line-height:23px;width:76px;text-indent:-9999px;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev,.peKb_controls .peKb_arrows .peKb_next{height:23px;width:22px;display:block;float:left;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev{padding-left:10px;padding-right:5px;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_next{padding-left:5px;padding-right:10px;}
.peKenBurns .peKb_timer{z-index:1010;position:absolute;display:none;width:22px;height:24px;}
.peKenBurns .peKb_timer .peKb_overlay{width:22px;height:24px;position:absolute;z-index:1;}
.peKenBurns .peKb_timer .peKb_sprite{margin-top:1px;position:absolute;width:22px;height:22px;z-index:0;}
.peKenBurns .peKb_videoClose{display:block;height:50px;width:46px;float:left;position:relative;margin-left:2px;text-indent:-9999px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.peKenBurns .peKb_videoClose a{height:45px;width:45px;display:block;}
.peKenBurns .peKb_shadow{display:block;height:82px;position:absolute;bottom:10px;z-index:-1;}
.peKenBurns .peKb_shadow .peKb_left{clear:both;}
.peKenBurns .peKb_shadow .peKb_left,.peKenBurns .peKb_shadow .peKb_right{float:left;width:100px;height:82px;}
.peKenBurns .peKb_shadow .peKb_middle{float:left;height:82px;}
.peKenBurns .peKb_Thumb{position:absolute;z-index:1012;width:98px;height:76px;overflow:hidden;}
.peKenBurns .peKb_Thumb div{width:84px;height:48px;margin:7px 0 0 7px;overflow:hidden;}
.peKenBurns .peKb_slides{background-color:#000;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.peKenBurns .peKb_slides .peKb_frame{background-color:#000;}
.peKenBurns .peKb_slides .peKb_spinner{background:url(images/spinner.gif) no-repeat center center;}
.peKenBurns .peKb_slides .peKb_videooverlay{background:url(images/video.png) no-repeat center center;}
.peKenBurns .peKb_slides .peKb_caption span{color:#fff;font-size:16px;line-height:18px;font-weight:bold;font-family:helvetica,arial,sans-serif;line-height:24px;text-align:left;}
.peKenBurns .peKb_slides .peKb_caption .peKb_background{background:#000;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
.peKenBurns .peKb_controls .peKb_mainPanel{background:url(images/controls_bg.png) repeat-x;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.peKenBurns .peKb_controls .peKb_slideBtns{border-right:1px solid #ccc;}
.peKenBurns .peKb_controls .peKb_slideBtns li a{background:url(images/buttons.png) no-repeat;}
.peKenBurns .peKb_controls .peKb_slideBtns a:hover{background-position:0 -23px;}
.peKenBurns .peKb_controls .peKb_slideBtns .peKb_currentSlide{background-position:0 -46px;cursor:default;}
.peKenBurns .peKb_controls .peKb_slideBtns .peKb_currentSlide:hover{background-position:0 -46px;}
.peKenBurns .peKb_controls .peKb_arrows{border-left:1px solid #fff;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev{background:url(images/buttons.png) no-repeat 10px -70px;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_next{background:url(images/buttons.png) no-repeat 10px -92px;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_prev:hover{background-position:-35px -70px;}
.peKenBurns .peKb_controls .peKb_arrows .peKb_next:hover{background-position:-34px -92px;}
.peKenBurns .peKb_timer{color:#05a0fa;}
.peKenBurns .peKb_timer .peKb_overlay{background:url(images/buttons.png) no-repeat -45px -46px;}
.peKenBurns .peKb_videoClose{background:url(images/close_video_bg.png) repeat-x;}
.peKenBurns .peKb_videoClose a{background:url(images/buttons.png) no-repeat 12px -122px;}
.peKenBurns .peKb_videoClose a:hover{background-position:-32px -122px;}
.peKenBurns .peKb_shadow .peKb_left{background:url(images/shad_lhs.png) no-repeat;}
.peKenBurns .peKb_shadow .peKb_middle{background:url(images/shad_tile.png) repeat-x;}
.peKenBurns .peKb_shadow .peKb_right{background:url(images/shad_rhs.png) no-repeat;}
.peKenBurns .peKb_Thumb{background:url(images/thumb_bg.png) no-repeat center center;}
.peKenBurns .peKb_Thumb div{background:url(images/spinner.gif) no-repeat center center;}
.ie7 .peKenBurns .peKb_controls .peKb_arrows .peKb_next{padding-right:8px;}
.ie7 .peKenBurns .peKb_controls .peKb_slideBtns{padding-left:5px;}
.ie7 .peKenBurns .peKb_controls .peKb_arrows{padding-right:0;}
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel div.peKb_iebg{overflow:hidden;margin-left:10px;margin-right:10px;height:51px;}
.ie7 .peKenBurns .peKb_controls .peKb_mainPanel span.peKb_iebgRight{position:absolute;bottom:0;right:0;width:10px;height:51px;}
.ie8 .peKenBurns .peKb_controls .peKb_arrows .peKb_next{padding-right:8px;}
.ie8 .peKenBurns .peKb_controls .peKb_slideBtns{padding-left:5px;}
.ie8 .peKenBurns .peKb_controls .peKb_arrows{padding-right:0;}
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel div.peKb_iebg{overflow:hidden;margin-left:10px;margin-right:10px;height:51px;}
.ie8 .peKenBurns .peKb_controls .peKb_mainPanel span.peKb_iebgRight{position:absolute;bottom:0;right:0;width:10px;height:51px;}