#header { display:none !important }
#fo1li6 { width: 515px !important }
#Field1,#Field2 { width:117px !important }
input.text,textarea.textarea{-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;-khtml-box-shadow:inset 0 0 5px #C0C0C0,1px 1px 1px #FFFFFF;-moz-box-shadow:inset 0 0 5px #C0C0C0,1px 1px 1px #FFFFFF;-ms-box-shadow:inset 0 0 5px #C0C0C0,1px 1px 1px #FFFFFF;-o-box-shadow:inset 0 0 5px #C0C0C0,1px 1px 1px #FFFFFF;-webkit-box-shadow:inset 0 0 12px #C0C0C0,1px 1px 1px #FFFFFF;border:1px solid #CCCCCC;box-shadow:inset 0 0 5px #C0C0C0,1px 1px 1px #FFFFFF;color:#939393; min-height:24px;  line-height: 1.5em;  margin:0 0 3px;  border-width: 0 1px 0 4px;  border-style: solid;  border-color: #CCCCCC;  padding:3px 13px;   -moz-border-radius:0 4px 4px 0;  -ms-border-radius:0 4px 4px 0;  -webkit-border-radius:0 4px 4px 0;  -o-border-radius:0 4px 4px 0;  border-radius:0 4px 4px 0;  background-color:#FFFFFF;border-left-color: #276890;}
input.text:focus,textarea.textarea:focus{-moz-box-shadow:inset 0 0 1px #C0C0C0,1px 1px 1px #FFFFFF; -ms-box-shadow:inset 0 0 1px #C0C0C0,1px 1px 1px #FFFFFF;-o-box-shadow:inset 0 0 1px #C0C0C0,1px 1px 1px #FFFFFF; -webkit-box-shadow:inset 0 0 1px #C0C0C0,1px 1px 1px #FFFFFF; box-shadow:inset 0 0 1px #C0C0C0,1px 1px 1px #FFFFFF; border-left-width: 1px; }

input.btTxt {
  color: #556410 !important;
  min-height:28px;
  font-size:13px;
  cursor:pointer;
  text-decoration:none;
  text-transform:uppercase;
  padding:5px 10px;
  border-width:1px;
  border-style:solid;
  display: inline-block;
  margin: 10px 15px 0 0;
  padding: 15px 30px;
  width: auto;
  letter-spacing: 1px;
  font-size: 15px;
  z-index: 1000;
  -o-box-shadow:inset 0 1px 2px rgba(255,255,255, 0.5),0 0 3px #BABABA;
  -webkit-box-shadow:inset 0 1px 2px rgba(255,255,255, 0.5),0 0 3px #BABABA;
  -moz-box-shadow:inset 0 1px 2px rgba(255,255,255, 0.5),0 0 3px #BABABA;
  -ms-box-shadow:inset 0 1px 2px rgba(255,255,255, 0.5),0 0 3px #BABABA;
  -khtml-box-shadow:inset 0 1px 2px rgba(255,255,255, 0.5),0 0 3px #BABABA;
  box-shadow:inset 0 1px 2px rgba(255,255,255, 0.5),0 0 3px #BABABA;
  border-color:#ffffff;
  background: #e5e5e5;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  -pie-background:linear-gradient(#ffffff, #e5e5e5);
  text-shadow: 0 1px 0 #F7F7F7;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  transition:all 0.3s linear;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -ms-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
}
  
input.btTxt:hover {
  background: #eaeaea;
  background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
  background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
  -pie-background:linear-gradient(#ffffff,#eaeaea);
  text-decoration:none;
  -moz-box-shadow:inset 0 1px 4px #FFFFFF,0 0 7px #BABABA;
  -webkit-box-shadow:inset 0 1px 4px #FFFFFF,0 0 7px #BABABA;
  -o-box-shadow:inset 0 1px 4px #FFFFFF,0 0 7px #BABABA;
  -ms-box-shadow:inset 0 1px 4px #FFFFFF,0 0 7px #BABABA;
  -khtml-box-shadow:inset 0 1px 4px #FFFFFF,0 0 7px #BABABA;
  box-shadow:inset 0 1px 4px #FFFFFF,0 0 7px #BABABA;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  transition:all 0.3s linear;
}

input.btTxt:active {
  position:relative;
  top:1px;
  cursor:pointer;
  -webkit-box-shadow:inset 0 1px 2px #6D6D6D,0 0 3px #BABABA;
  -moz-box-shadow:inset 0 1px 2px #6D6D6D,0 0 3px #BABABA;
  -ms-box-shadow:inset 0 1px 2px #6D6D6D,0 0 3px #BABABA;
  -o-box-shadow:inset 0 1px 2px #6D6D6D,0 0 3px #BABABA;
  box-shadow:inset 0 1px 2px #6D6D6D,0 0 3px #BABABA;
  -moz-transition:all 0 linear;
  -webkit-transition:all 0 linear;
  -o-transition:all 0 linear;
  -ms-transition:all 0 linear;
  transition:all 0 linear;
}