#navbar-iframe,#blog-pager-newer-link,#blog-pager-older-link ,.item-control,.date-header,.feed-links,.home-link  {display: none !important;}
/* normalize css */
/*---------------------*/
header,nav,section { display: block; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
button, input, select, textarea { font-family: sans-serif; color: #222; }
body,p,input,button,textarea {font-family:'Ubuntu', Helvetica, Arial ,Sans-Serif;}
h1, h2, h3, h4, h5, h6, .componentheading, .contentheading, .feature-title, .blockheader .t, .colorblockheader .t, legend, .tour_now_title, .join_now_title, .spotlight-action, .edition-main, .price-tag, .blocknumber-t, .slogan-head, .showcase-title, .show-title, h1.show-title, h1.show-title a, h1.show-title a:link, h1.show-title a:visited, h1.show-title a:hover, h1.contact, .show-title, .blockheader .t, post h2.postheader, .post h2.postheader a, .post h2.postheader a:link, .post h2.postheader a:visited, .post h2.postheader a.visited, .post h2.postheader a:hover, .post h2.postheader a.hovered, span.dropcap, span.dropcap-blue, span.dropcap-red, span.dropcap-green, span.dropcap-purple, span.dropcap-orange, span.dropcap-brown, span.dropcap-grey, .nivo-caption p.nivo-title, .blog-comments .t, .respond .t, .event-time .date, .slogan p, .ws-title, .block-number .digit, ul.css-tabs a, #nav2 ul a, th, .th .title, .showcase-banner, .scripting, a.widget .title,#related-posts .t{ font-family: 'Yanone Kaffeesatz', Tahoma, Arial, Helvetica, Sans-Serif; font-weight: normal; }
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li { margin: 0; padding: 0; }
a { color: #205A79; }
a:visited {}
a:hover { color: #556410; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
b { font-weight: bold }
strong { font-weight: normal }
pre { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="submit"] { cursor: pointer; -webkit-appearance: button;  -moz-appearance: button;}
input[type="search"] { -webkit-appearance: textfield; -moz-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; -moz-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/*template style*/
/*--------------------*/
::selection {background: #496179; color: #FFF;text-shadow: none}
::-moz-selection {background: #496179; color: #FFF; text-shadow: none}
::-webkit-selection {background: #496179; color: #FFF; text-shadow: none}
.slogan{border-left-color: #556410}
body {  
   font-size: 13px;
   line-height: 1.231;
   padding: 0;
   margin:0;
   text-align: left;
   min-width: 1000px;
   color: #113040;
   background-color: #18323A;
   background-image: url(http://demo.arrowthemes.com/html/beulah/css/skins/apple_green/../../../images/skins/apple_green/Bottom_texture.jpg);
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: top left;
}
.sora { background:url(https://lh5.googleusercontent.com/-OJP8clULye8/UIgZtR17gEI/AAAAAAAAO70/AgNr3myGVWE/s152/logo.png) 0 0 no-repeat; float:left; display:block; width: 128px; height: 128px; margin: -15px 15px 0 -20px }
h1.post-title {margin: 5px 1px 0px !important; background: url(https://lh3.googleusercontent.com/-xK2CtjcFRYg/T8rNLxrCJ7I/AAAAAAAAAyo/qMm6jv7KYjA/s12/dot.png) repeat-x scroll center bottom transparent;color: #1B4B65;font-size: 30px !important;line-height: 1em;}
.event-time .date {line-height: 30px;}
ul.display li .content_block a img {max-width:200px;min-height:128px}
ul.thumb_view li .content_block a img{min-height:120px !important}

.postcontent .csbutton-color a{color: #fff !important;text-shadow: none !important}
.post-content img{max-width:600px}
.sidebar2 .widget {margin: 15px;max-width: 998px}
.sidebar ul {padding: 10px 0 0;}

.column .t {
    font-size: 24px;
    line-height: 24px;
    margin-right: 11px;
    min-height: 38px;
    white-space: nowrap;
}
.column .widget-content{padding:15px 0}
#blog-pager { line-height:17px; clear:both; }
#blog-pager a { line-height:17px }
.content_block h3{background:none !important}

#comments {display: block;float: left;margin-top: 20px;width: 100%;}
#comment_block{margin: 1em 0;}
.comment_wrap{margin-bottom:20px;color: #111618;font-size: 13px;}
.comment_wrap .response{
    display: inline-block;
    float: right;
    height: 30px;
    padding: 3px 10px;
}
.comment_child .comment_wrap{padding:0 0 0 2em}
.comment_child .comment_admin{margin: 20px 10px;}
.comment_avatar{float: left;position: relative;width: 16%;}
.comments .avatar-image-container img{width:66px!important;height:66px!important}
.comment_avatar img{width:66px;height:66px;margin:0 !important}
.comment_avatar .avatar-image-container{border-radius: 4px;border: 4px solid #A8A8A8;height:66px!important;width:66px!important;background:url(https://lh3.googleusercontent.com/-HVwJphUnqX8/T91j-3QumXI/AAAAAAAABAU/hadv6Z0vrSU/s66/noavatar.jpg) no-repeat;}
#comments h4{font-family:Arial,Helvetica,Garuda,sans-serif;font-weight:normal;text-transform:uppercase;font-size:20px;color:#666;text-shadow:0 0 1px #CCC;display:block;width:100%;border-bottom:1px dotted #CCC;padding:20px 0 5px 0;margin:0}
.unneeded-paging-control{display:none}
.comment_body p{margin: 1px}
.comment_name{margin:-6px 0 0 40px!important;font-family:Arial,Helvetica,Garuda,sans-serif;font-weight:normal;font-style:normal;line-height:1;margin:2.1em 0 1em;color:#525252;font-weight:bold;font-size:18px}
.comment_name a:hover{color:#F90}
.comment_name a{color:#525252;text-decoration:none;text-shadow:0 0 1px #DDD;font-size:12px}
.comment_name a:hover{color:#F90}
.comment_service{margin:0 0 0 41px;color:#CCC;font-size:10px;font-style:italic}
.comment-form{max-width:100%;!important}
#comment-editor{width:101%!important}
.comment_form a{text-decoration:none;text-transform:uppercase;font-weight:bold;font-family:Arial,Helvetica,Garuda,sans-serif;font-size:15px;color:#F90}
.comment_form a:hover{text-decoration:underline}
.comment_reply_form{padding:0 0 0 20px}
.comment_reply_form .comment-form{width:99%}
.deleted-comment{padding:10px;display:block;color:#ccc}
#respond{overflow:hidden;padding-left:10px;margin-top:30px;clear:both}

.comment_admin{
  display:block;
  margin:0 0 10px;
  padding:20px;
  border-style:solid;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #fff;
  background: #EFEFEF;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #F5F5F5 0%, #e5e5e5 100%);
  background: linear-gradient(top, #F5F5F5 0%, #e5e5e5 100%);
  -pie-background: linear-gradient(#F5F5F5, #e5e5e5);
  border-width: 1px !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
  -moz-box-shadow: 0 1px 1px #FFFFFF inset, 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 1px #FFFFFF inset, 0 0 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 1px #FFFFFF inset, 0 0 1px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 1px 1px #FFFFFF inset, 0 0 1px rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 0 1px 1px #FFFFFF inset, 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px #FFFFFF inset, 0 0 1px rgba(0, 0, 0, 0.5);
}
#middlecolumn .widget-content {padding:0}
#PopularPosts1{max-width:300px}
#PopularPosts1 li{float:left;border-bottom:none;margin:8px 8px 7px;background:none;display:block;padding:0}
#related-posts{margin-top:30px}
#related-posts li a,#PopularPosts1 li a{display:block}
#related-posts ul li {float: left;margin-left: 18px;position: relative;padding-left:0;}
.csbutton{margin-left:200px}
.csbutton-color{margin-left:40px}
.plusone,.pin-it-button,.twitter-share-button,.fb-like{float:left; max-width:90px}
.fb-like{margin-left:5px}
.twitter-share-button{margin:0 7px 0 20px}
.fb-home {float:right;padding-top:5px;max-width:79px;height:20px}
.share{padding-bottom: 5px; margin-bottom: 8px;}
/*css button color. all other csbutton settings in general.css*/
.csbutton-color, .page-navigate .current{border-color:#276C93; color:#FFFFFF;text-shadow:none;}
.csbutton-color:hover,.page-navigate .current{
border-color:#576711; 
color:#FFFFFF;
text-shadow:none;
background: #7a9117;
background: -moz-linear-gradient(top,  #7a9117 0%, #576711 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a9117), color-stop(100%,#576711));
background: -webkit-linear-gradient(top,  #7a9117 0%,#576711 100%);
background: -o-linear-gradient(top,  #7a9117 0%,#576711 100%);
background: -ms-linear-gradient(top,  #7a9117 0%,#576711 100%);
background: linear-gradient(top,  #7a9117 0%,#576711 100%);
-pie-background:linear-gradient(#7a9117,#576711);
}

.csbutton, a.csbutton,a.csbutton:hover,a.csbutton:active{color:#5f7012 !important}

.csbutton-color{
background: #308cbb;
background: -moz-linear-gradient(top,  #308cbb 0%, #1f5a7a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#308cbb), color-stop(100%,#1f5a7a));
background: -webkit-linear-gradient(top,  #308cbb 0%,#1f5a7a 100%);
background: -o-linear-gradient(top,  #308cbb 0%,#1f5a7a 100%);
background: -ms-linear-gradient(top,  #308cbb 0%,#1f5a7a 100%);
background: linear-gradient(top,  #308cbb 0%,#1f5a7a 100%);
-pie-background:linear-gradient(#308cbb,#1f5a7a);
}

.top-input{border: 1px solid #151716;border-bottom: 1px solid #404040;  background-color:#000000;
-webkit-box-shadow:inset 0 0 5px #000000;
-moz-box-shadow:inset 0 0 5px #000000;
-o-box-shadow:inset 0 0 5px #000000;
-ms-box-shadow:inset 0 0 5px #000000;
-khtml-box-shadow:inset 0 0 5px #000000;
box-shadow:inset 0 0 5px #000000;
color: #7D9317}
.top-input:hover{background-color: #202020;   color: #C0C0C0; border-bottom: 1px solid #505050; }
.top-input:focus{background-color: transparent;  color: #7D9317;	border-bottom: 1px solid #505050; }
#search_box  {border-left-color: #556410}

/*begin top links*/
#top-date, .top-links, .top-contact{color: #FFFFFF}
#top-date:hover, .top-links:hover, .top-contact:hover{color: #FFFFFF}
.slidetabs a, .bx-pager a {background: url("https://lh4.googleusercontent.com/-9lyHOsAgxR4/T6-9stfHHgI/AAAAAAAAAEs/2em5QHBCw3c/s36/slidetabs_normal_active.png") no-repeat scroll left center transparent !important;}
.slidetabs a.current, a.pager-active{background-position: -16px 0 !important;}

/* begin Page */
.componentheading {color:#556410 !important;}

.postcontent,
.postcontent li,
.postcontent table,
.postcontent a,
.postcontent a:link,
.postcontent a:visited,
.postcontent a.visited,
.postcontent a:hover,
.postcontent a.hovered
{
   line-height: 150%;
   text-shadow: 0 1px 0 #FFFFFF;
}

.postcontent p
{
   margin: 12px 0;
}

.postcontent {
  margin: 4px 10px 0
}

.postcontent h1, .postcontent h1 a, .postcontent h1 a:link, .postcontent h1 a:visited, .postcontent h1 a:hover,
.postcontent h2, .postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:visited, .postcontent h2 a:hover,
.postcontent h3, .postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:visited, .postcontent h3 a:hover,
.postcontent h4, .postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:visited, .postcontent h4 a:hover,
.postcontent h5, .postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:visited, .postcontent h5 a:hover,
.postcontent h6, .postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:visited, .postcontent h6 a:hover,
.blockheader .t, .blockheader .t a, .blockheader .t a:link, .blockheader .t a:visited, .blockheader .t a:hover,
.show-title, .show-title a, .show-title a:link, .show-title a:visited, .show-title a:hover,
.show-text, .show-text a, .show-text a:link, .show-text a:visited, .show-text a:hover,
.postheader, .postheader a, .postheader a:link, .postheader a:visited, .postheader a:hover
{
   font-style: normal;
   font-size: 32px;
   text-decoration: none;
}

.page-navigate a,
.postcontent a
{
   text-decoration: none;
   color: #556410;
}

.postcontent a:link
{
   text-decoration: none;
   color: #556410;
}

.page-navigate a:hover,
.postcontent  a:hover, .postcontent a.hover
{
   color: #556410;
}

.postcontent h1
{
   color: #556410;
   margin: 30px 0;
   padding-bottom: 15px;
}

.blockcontent h1
{
   margin: 25px 0;
}

.postcontent h2
{
   color: #556410;
   margin: 19px 0;
   font-size: 27px;
   padding-bottom: 12px;
}

.blockcontent h2
{
   margin: 19px 0;
   font-size: 27px;
}

.postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:hover, .postcontent h2 a:visited, .blockcontent h2 a, .blockcontent h2 a:link, .blockcontent h2 a:hover, .blockcontent h2 a:visited 
{
   font-size: 27px;
}

.postcontent h3
{
   color: #556410;
    font-size: 30px;
    margin: 10px 0 15px;
	padding-bottom: 10px;
}

.blockcontent h3
{
   margin: 19px 0;
   font-size: 19px;
}

.postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:hover, .postcontent h3 a:visited, .blockcontent h3 a, .blockcontent h3 a:link, .blockcontent h3 a:hover, .blockcontent h3 a:visited 
{
   font-size: 22px;
}

.postcontent h4{color: #556410;font-size: 20px;padding-bottom: 8px;}

.reasons h4 {margin: 7px 0}

.blockcontent h4
{
   margin: 10px 0;
   font-size: 16px;
}

.postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:hover, .postcontent h4 a:visited, .blockcontent h4 a, .blockcontent h4 a:link, .blockcontent h4 a:hover, .blockcontent h4 a:visited 
{
   font-size: 16px;
}

.postcontent h5
{
   color: #113040;
   margin: 16px 0;
   font-size: 13px;
}

.blockcontent h5
{
   margin: 26px 0;
   font-size: 13px;
}

.postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:hover, .postcontent h5 a:visited, .blockcontent h5 a, .blockcontent h5 a:link, .blockcontent h5 a:hover, .blockcontent h5 a:visited 
{
   font-size: 13px;
}

.postcontent h6
{
   color: #19455D;
   margin: 15px 0;
   font-size: 11px;
}

.blockcontent h6
{
   margin: 35px 0;
   font-size: 11px;
}

.postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:hover, .postcontent h6 a:visited, .blockcontent h6 a, .blockcontent h6 a:link, .blockcontent h6 a:hover, .blockcontent h6 a:visited 
{
   font-size: 11px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#main
{
   position: relative;
   z-index: 0;
   width: 100%;
	min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

#page-background-glare-wrapper {
   position: absolute;
   width:100%;
}

#page-background-glare {
   position: relative;
   top: 0;
   max-width:294px;
   min-width: 1000px;
   height:322px;
   left: 0;
   margin-right: auto;
   background-image: url(http://demo.arrowthemes.com/html/beulah/css/skins/apple_green/../../../images/skins/apple_green/page_gl.png);
   background-repeat: no-repeat;
   background-position: left top;
}

.full-image {background: url('https://lh6.googleusercontent.com/-va98oK2ge_0/T6-zxrrTLqI/AAAAAAAAAAw/L3_lYK2Jheo/s12/Bottom_texture.jpg') repeat-x fixed center top #2E363D}
.clear,.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.box, .box-body {
   margin:0 auto;
   position:relative;
}
.box:before, .box:after, .box-body:before, .box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.box:before,.box-body:before{
   left:0;
}
.box:after,.box-body:after{
   right:0;
}
.box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.box:after {
   background-position: bottom right;
   z-index:-3;
}
.box-body:before, .box-body:after {
   background-repeat:repeat-y;
}
.box-body:before {
   background-position: top left;
   z-index:-3;
}
.box-body:after {
   background-position: top right;
   z-index:-3;
}

.box .box:before, .box .box:after, .box-body .box-body:before, .box-body .box-body:after {
   z-index:-2;
}
.box .box .box:before, .box .box .box:after, .box-body .box-body .box-body:before, .box-body .box-body .box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.bar {
   position:relative;
}
.bar:before, .bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.bar:before {
   left:0;
   background-position: top left;
}
.bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .postcontent li h1, .blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .postcontent li h2, .blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .postcontent li h3, .blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .postcontent li h4, .blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .postcontent li h5, .blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .postcontent li h6, .blockcontent-body li h6 
{
   margin:1px;
} 
li p, .postcontent li p, .blockcontent-body li p 
{
   margin:1px;
}

/* end Page */

/* begin Header */
div.header
{
   margin: 0 auto;
   position: relative;
   width:1000px;
   height: 482px;
   margin-top: 40px;
   margin-bottom: 0;
}
.header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.header-wrapper 
{
   position: relative;
   top:0;
   width:1000px;
   margin:0 auto;
}
.header-inner 
{
   position: relative;
   margin: 0 1px;
}

.header:after, .header-jpeg
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   left:1px;
   right:1px;
   height: 482px;
   background-image: url(http://demo.arrowthemes.com/html/beulah/css/skins/apple_green/../../../images/skins/apple_green/header.jpg);
   background-repeat: no-repeat;
   background-position: center center;
}

.header-content, .header-content p{
color: #FFFFFF;
line-height: 1.5em;
}

.header-content p{margin-top: 15px}

/*child page header*/
.child .header, .child .header:after,.child .header:before, .child .header-jpeg{height: 250px;}
.child .header:after, .child .header:before, .child .header-jpeg{background-position: center 100%;}
.child div.logo{top: 140px}

/* end Header */

/* begin Logo */
div.logo
{
   display: block;
   position: absolute;
   top: 222px;
   left: 5%;
   margin-left: -22px;
}

.show-title
{
   display: block;
   text-align: left;
   font-size: 36px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.show-title a, 
.show-title a:link, 
.show-title a:visited, 
.show-title a:hover
{
   font-size: 36px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

.show-text
{
   display: block;
   text-align: left;
   font-weight: normal;
   font-size: 16px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.show-text a,
.show-text a:link,
.show-text a:visited,
.show-text a:hover
{
   font-weight: normal;
   font-size: 16px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

#headline, #slogan 
{
   display: block;
   min-width: 150px;
   text-align: left;
}
/* end Logo */

/*begin breadcrumbs*/
.breadcrumbs.home a{
color: #389FBE;
text-decoration: none;
}

.breadcrumbs.home a:hover{color: #FFFFFF;}
.pathway{ background: url("https://lh6.googleusercontent.com/-SCv9vg4WL6c/T6-zxmV6XoI/AAAAAAAAAA0/aG_gRTAXVSQ/s15/breadcrumb-sep.png") no-repeat scroll 100% 40% transparent;}
/* begin Box, Sheet */
.sheet
{
   max-width:1000px;
   margin-top: 40px;
   margin-bottom: 0;
   cursor:auto;
   width: 1000px;
}
.sheet-body 
{
   padding:1px;
   padding-top:1px;
   padding-bottom:1px;
}
.sheet:before, .sheet:after 
{
   content: url('https://lh5.googleusercontent.com/-OSLZuzFg450/T6-z5co5evI/AAAAAAAAACk/fWERuCeLQOA/s1600/sheet_t.png');
   font-size: 0;
   background-image: url('https://lh5.googleusercontent.com/-iQYU-7MhPCw/T6-z4-l1KoI/AAAAAAAAACY/buDwQIFCgaw/s1600/sheet_b.png');
}

.sheet>.box-tl, .sheet>.box-tr{background: url('https://lh6.googleusercontent.com/-1N75QjQK-Mw/T6-z4h0db9I/AAAAAAAAACU/CNx-RjbPNRI/s1600/sheet.png'); 

}

.sheet:after{
   clip:rect(auto, auto, auto, 999px);
}
.sheet:before,.sheet-body:before{
   right:1px;
}
.sheet-body:after{
   width: 1px;
   top:1px;
   bottom:1px;
   background-image:url('https://lh6.googleusercontent.com/-1N75QjQK-Mw/T6-z4h0db9I/AAAAAAAAACU/CNx-RjbPNRI/s1600/sheet.png');
}
.sheet-body:before{
   top:1px;
   bottom:1px;
   background-image:url('https://lh6.googleusercontent.com/-1N75QjQK-Mw/T6-z4h0db9I/AAAAAAAAACU/CNx-RjbPNRI/s1600/sheet.png');
}

/* end Box, Sheet */

/* begin Layout */
.layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.content-layout-row {
   display: table-row;
   background:url('https://lh6.googleusercontent.com/-ASAWdFeMtdc/T6-9p12-jqI/AAAAAAAAAEM/Lq6ZAkrAy2g/s89/content-row-b.png') left bottom repeat-x;
   margin-bottom: 10px
}

.layout-cell
{
   display: table-cell;
   vertical-align: top;
   padding-bottom: 20px;
}
/* end Layout */

/* begin Box, Block */
.block
{
   max-width:998px;
   margin: 15px;
}
.block-body 
{
   padding:0;
}

div.block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 5px;
}

/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   margin-bottom: 0;
   min-height: 38px;
   line-height:38px;
}

.blockheader .t
{
   min-height: 38px;
   line-height:24px;
   color: #556410;
   font-size: 24px;
   margin-right: 11px;
   padding: 0;
   white-space: nowrap;
   font-weight: normal;
   text-shadow: 0 1px 0 #FFFFFF;
   background:url('https://lh4.googleusercontent.com/-O_Rb60Bgbkc/T6-9pqI9VCI/AAAAAAAAAEI/KjKngKgY-uo/s12/dot.png') repeat-x scroll 0 100% transparent ;
}

.blockheader .t a,
.blockheader .t a:link,
.blockheader .t a:visited, 
.blockheader .t a:hover
{
   color: #556410;
   font-size: 22px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent
{
   max-width:998px;
}
.blockcontent-body 
{
   padding:7px 0;
   color: #113040;
   font-size: 13px;
   line-height: 150%;
}

.postcontent .blockcontent-body, aside .blockcontent-body{text-shadow: 0 1px 0 #FFFFFF;}
.blockcontent-body table,
.blockcontent-body li, 
.blockcontent-body a,
.blockcontent-body a:link,
.blockcontent-body a:visited,
.blockcontent-body a:hover
{
   color: #113040;
   font-size: 13px;
   line-height: 150%;
}

.blockcontent-body p
{
   margin: 6px 0;
}

.blockcontent-body a, .blockcontent-body a:link{color: #93AD1B;   text-decoration: none;}
.blockcontent-body a:hover, .blockcontent-body a.hover{color: #556410;}
.blockcontent-body a:visited{color: #46A0CE; text-decoration: none;}
.blockcontent-body ul li{color: #18323A;   padding:  2px 0 3px 9px;  line-height: 1.5em}

.footer-row .blockcontent-body{
  color: #FFFFFF;
  }

/* end Box, BlockContent */

/* begin Box, Post */
.post
{
   max-width:998px;
   margin: 5px;
}
.post-body 
{
   padding:7px;
}

a img
{
   border: 0;
}

.article img, img.article, .block img, .footer img
{
   border-color: #56A7D2;
   border-style: solid;
   border-width: 0;
   margin: 4px 5px 4px 0;
}

.metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.article table, table.article
{
   border-collapse: collapse;
   margin: 1px;
}

.post .content-layout-br
{
   height: 0;
}

.article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: visible;
   padding: 0.1em;
}

#preview-image
{
   float: left;
   }

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.preview-sharepoint-logo
{
   border: 0;
   margin: 5px;
   float: left;
}
/* end Box, Post */

/* begin PostHeaderIcon */
.postheader
{
   color: #1B4B65;
   margin: 5px 0;
line-height: 1em;
   font-size: 26px;
}

.postheader a, 
.postheader a:link, 
.postheader a:visited,
.postheader a.visited,
.postheader a:hover,
.postheader a.hovered
{
   font-size: 26px;
}

.postheader a, .postheader a:link
{
   text-align: left;
   text-decoration: none;
   color: #205A79;
}

.postheader a:visited, .postheader a.visited
{
   color: #3C7C90;
}

.postheader a:hover,  .postheader a.hovered
{
   color: #556410;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.postheadericons,
.postheadericons a,
.postheadericons a:link,
.postheadericons a:visited,
.postheadericons a:hover
{
   color: #556410;
}

.postheadericons
{
   padding: 1px;
}

.postheadericons a, .postheadericons a:link
{
   text-decoration: none;
   color: #4B6168;
}

.postheadericons a:visited, .postheadericons a.visited
{
   font-weight: normal;
   color: #4B6168;
}

.postheadericons a:hover, .postheadericons a.hover
{
   font-weight: normal;
   text-decoration: underline;
   color: #112228;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.postcontent ol, .postcontent ul
{
   margin: 1em 0 1em 0;
   padding: 0;
}

.postcontent li
{
   font-size: 13px;
   color: #111618;
   padding: 0 0 0 12px;
}

.postcontent li ol, .post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.postcontent ul>li
{
   padding-left: 22px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.postcontent blockquote,
.postcontent blockquote a,
.postcontent blockquote a:link,
.postcontent blockquote a:visited,
.postcontent blockquote a:hover { color: #113040; }
.postcontent blockquote p { margin: 0; margin:3px; }
.postcontent blockquote {
   margin: 10px 10px 20px 20px;
   padding: 5px 5px 5px 38px;
   background-color: transparent;
   overflow: auto;
   clear:both;
   border-left: 5px solid #556410
}

.blockcontent-body blockquote {margin: 10px 10px 20px 0}
/* end PostQuote */

/*spotlight*/
.spot-bg{
background: url('https://lh6.googleusercontent.com/-na5m_I1MUTI/T6-z7x7EcLI/AAAAAAAAAC4/CSOuTbxk9kw/s108/spot_bg.png') repeat scroll 100% top transparent;
border: 1px solid #596A72;
text-shadow:0 1px 0 #FFFFFF;}

.spotlight{
text-shadow:0 1px 0 #FFFFFF;
border-bottom: 1px solid #FEFEFE;
background: url('https://lh6.googleusercontent.com/-AxXgVGySF34/T6-z5xOThxI/AAAAAAAAACg/Y3C3g62dyYs/s105/spotlight.png') repeat-x scroll 100% bottom transparent;}

/* begin Footer */
.footer
{
   position: relative;
   margin-top:40px;
   margin-bottom:0;
   width: 100%;
}

.footer-body
{
   position:relative;
   padding: 15px;
   color: #FFFFFF;
}

.footer-body ul li
{
   font-size: 13px;
   line-height: 125%;
   border-bottom: 1px solid transparent;
}

.footer-body ul li:hover a{color: #FFFFFF}

.footer-top{
   background-image: url(http://demo.arrowthemes.com/html/beulah/css/skins/apple_green/../../../images/skins/apple_green/footer-t.png);
   background-position:bottom left;
   background-repeat: repeat-x;
   height: 75px;
   -moz-box-shadow: 0 -25px 50px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 -25px 50px rgba(0,0,0,0.5);
   -ms-box-shadow: 0 -25px 50px rgba(0,0,0,0.5);
   -o-box-shadow: 0 -25px 50px rgba(0,0,0,0.5);
   box-shadow: 0 -25px 50px rgba(0,0,0,0.5);
}

.f-top-inner{
	width: 1000px;
	display: block;
	margin: auto;
	color: #FFFFFF;
	padding: 21px 0;
}

.footer-overlay{
	background-image: url('https://lh4.googleusercontent.com/-DODjkrEtetk/T6-z05ZMEeI/AAAAAAAAABY/DK9lDx1qNoY/s94/footer-ov.png');
	background-repeat: repeat-x;
    height: 94px;
    margin-bottom: -94px
}

.footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url(http://demo.arrowthemes.com/html/beulah/css/skins/apple_green/../../../images/skins/apple_green/footer.png);
   background-position:bottom left;
}

.footer-t{ background-image: url('https://lh5.googleusercontent.com/-RAzS0EvTWes/T6-zz1e2_4I/AAAAAAAAABU/OjR63qFxTIg/s279/footer.png');}

.footer-row .t{
   background: url('https://lh6.googleusercontent.com/-n7W8hCxthIs/T6-zy8c7TJI/AAAAAAAAABE/z3A9qwDwlz4/s4/f_inset_dotted.png') repeat-x scroll left bottom transparent;
   text-shadow: 4px 4px 1px #000000;
}

.footer:before, .footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:47px;
   height:50px;
   background-image: url('https://lh3.googleusercontent.com/-5DUn3CO-IL0/T6-z03YQavI/AAAAAAAAABc/MZAqmkVKZvg/s271/footer_b.png');
}

.footer-r{background-image: url('https://lh3.googleusercontent.com/-5DUn3CO-IL0/T6-z03YQavI/AAAAAAAAABc/MZAqmkVKZvg/s271/footer_b.png');}
.footer:before
{
   left:0;
   right:0;
   background-position: bottom left;
}

.footer:after
{
   right:0;
   width:0;
   background-position: bottom right;
}

.footer-text p
{
   padding:0;
   margin:0;
   text-align: left;
}

.footer-text p, .footer-text .t{color: #FFFFFF}
.footer-text .t{color: #93AD1B}
.footer-body a,
.footer-body a:link,
.footer-body a:visited,
.footer-body a:hover,
.footer-body td, 
.footer-body th,
.footer-body caption
{
   color: #FFFFFF;
}

.footer-text
{
   padding-left: 0;
   padding-right: 0;
   text-align: left;
}

.footer-body a,
.footer-body a:link
{
   color: #70B6DA;
   text-decoration: none;
}

.footer-body a:visited
{
   color: #70B6DA;
}

.footer-body a:hover
{
   color: #FFFFFF !important;
}

.footer-wrapper
{
   margin: 0 1px;
}
.footer-center
{
   position: relative;
   width: 1000px;
   margin: 0 auto;
}

.twit-feed a, .tweeter_widget a{color: #93AD1B !important; text-decoration: none;}
.twit-feed a:hover, .tweeter_widget a:hover{color: #FFFFFF !important}
div.footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}/* end Footer */

/* begin PageFooter */
.page-footer, 
.page-footer a,
.page-footer a:link,
.page-footer a:visited,
.page-footer a:hover
{
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #8CA41A;
   text-shadow: 0 1px 0 #000000 !important;
}

.page-footer
{
   padding: 1em 0;
   position: relative;
   text-align: left;
   bottom: -19px;
   text-decoration: none;
   color: #FFFFFF;
   width: 30%;
   float: left;   
}

.footer-overlay-bottom {
	background: url("https://lh6.googleusercontent.com/-va98oK2ge_0/T6-zxrrTLqI/AAAAAAAAAAw/L3_lYK2Jheo/s12/Bottom_texture.jpg") repeat scroll bottom right transparent;}

.bottom-links{
	height: 50px;
	display: block;
	float: right;
	margin-top: 13px
}

.bottom-links a {padding: 20px 15px; display: block; float: left; text-shadow: 0 1px 0 #000000 !important;
	background: url("https://lh4.googleusercontent.com/-AnJL18Kjuo8/T6-z2q9-aHI/AAAAAAAAABw/rdLIHVwWPNQ/s33/menuseparator.png") no-repeat scroll 100% 50% transparent}	
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.content-layout .sidebar1
{
   width: 27%;
   background: url("https://lh4.googleusercontent.com/-rcyyBhFH0fk/T6-9qTKRuGI/AAAAAAAAAEc/Ue0wclzBax4/s42/sidebar-l.png") repeat-y scroll 100% 0 transparent;
   border-right: 1px solid #FAFAFA;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */
.content-layout .sidebar2{width: 30%;}
.content-layout .sidebar3{width: 25%}

.content-layout .sidebar2, .content-layout .sidebar3{
   background: url("https://lh6.googleusercontent.com/-5SYpjraCNns/T6-9r_cD-tI/AAAAAAAAAEo/a5BAgggnlWc/sidebar.png") repeat-y scroll 0 0 transparent;
   border-left: 1px solid #FAFAFA; }
/* end LayoutCell, sidebar2 */

.footer-body {
-webkit-box-shadow: 2px 1px 5px #000000; 
-moz-box-shadow: 2px 1px 5px #000000; 
-ms-box-shadow: 2px 1px 5px #000000; 
-o-box-shadow: 2px 1px 5px #000000; 
box-shadow: 2px 1px 5px #000000; 
}

/*menu skin and color */
.nav:before,.nav:after,.nav-png{background-image:url(https://dl.dropbox.com/u/93470765/beulah/nav.png)}
.nav-inner{border-bottom:1px solid #3B4105}
.animate-color{color:#CBE553}
#menu ul.menu>li:hover>a span{color:#CBE553}
#menu li.nolink span{border-bottom:1px solid #3B4105}
#menu ul ul a.parent{background:url(https://dl.dropbox.com/u/93470765/beulah/submenu-pointer.png) no-repeat 97% center;_background-image:url(https://dl.dropbox.com/u/93470765/beulah/submenu-pointer.gif)}
#menu ul ul a:hover{background-color:#272E08 !important}
#menu ul ul a.parent:hover{background:url(https://dl.dropbox.com/u/93470765/beulah/submenu-pointer-hover.png) no-repeat 98% center;_background:url(https://dl.dropbox.com/u/93470765/beulah/submenu-pointer-hover.gif) no-repeat 98% center;background-color:#272E08}
#menu li.back .left{background:url(https://dl.dropbox.com/u/93470765/beulah/selected-right-sub.png) repeat-x right 0}
#menu li div{background:url(https://dl.dropbox.com/u/93470765/beulah/drop-submenu.png) no-repeat -227px 0;_background:url(https://dl.dropbox.com/u/93470765/beulah/drop-submenu.gif) no-repeat -227px 0}
#menu ul ul{background:url(https://dl.dropbox.com/u/93470765/beulah/drop-submenu.png) no-repeat 0 bottom;_background:url(https://dl.dropbox.com/u/93470765/beulah/drop-submenu.gif) no-repeat 0 bottom}

/* socialmodal css */
.blackout{display:none;position:fixed;_position:absolute;width:100%;z-index:10000;background-color:#000;margin:0;padding:0;left:0;top:0}
.socialmodalOuter{display:none;font-family:arial;color:#575E6D;font-size:14px;line-height:20px;background:rgb(73,73,73); background:rgba(0,0,0,0.6);border-radius:0px;left:50%;padding:2px;position:fixed;_position:absolute;top:50%;z-index:10001}
.socialmodal{background:none repeat scroll 0 0 #FFF;border-radius:3px;width:460px}
.socialmodal .title{border-bottom:1px solid #E5E8EF;font-weight:bold;font-size:19px;font-weight:bold;padding:16px 15px 10px;text-align:center}
.socialmodal .subtitle{margin:0;background:#f7c632;color:#b18b18;padding:4px;text-align:center;font-weight:bold;font-size:15px}
.socialmodal .warning{margin:0;background:#cb2026;color:#fff;padding:4px;text-align:center}
.socialmodal .content{padding:0 15px;margin-top:10px;line-height:17px}
.socialmodal .share{padding:0 15px;margin:20px 0 15px;text-align:center;height:24px}
.socialmodal .close{background:url(images/close.png) no-repeat;cursor:pointer;height:12px;position:absolute;right:15px;top:15px;width:12px;display:none}
.socialmodal .button{float:left;width:115px;line-height:24px;height:24px}
.socialmodal .like{margin-left:15px}
.socialmodal .twttr{margin-left:30px}
.socialmodal .plus{width:90px;margin-left:50px}
.socialmodal .footer{clear:both;background:none repeat scroll 0 0 #E8EAEF;border-radius:0 0 3px 3px;border-top:1px solid #DDE0E8;padding:10px 0;color:#878D9C;text-shadow:0 1px 0 #FFF;text-align:center;font-size:13px}

